# --------------------------------------------------------
# COMPILATION OUTPUT (ALL LEVELS)
# --------------------------------------------------------
**/bin/
**/obj/
**/[Dd]ebug/
**/[Dd]ebugPublic/
**/[Rr]elease/
**/[Rr]eleases/
**/x64/
**/x86/
**/[Aa][Rr][Mm]/
**/[Aa][Rr][Mm]64/
**/bld/
**/log/
**/out-tsc/
**/dist/
**/tmp/
**/bazel-out/
**/.angular/cache
**/.sass-cache/
**/coverage
**/typings
**/libpeerconnection.log
**/testem.log
**/connect.lock

# --------------------------------------------------------
# VISUAL STUDIO FILES
# --------------------------------------------------------
**/.vs/
**/*.suo
**/*.user
**/*.userosscache
**/*.sln.docstates
**/*.cache
**/*.pdb
**/*.dll
**/*.exe
**/*.pidb
**/*.svclog
**/*.scc
**/*.vspscc
**/*.vssscc
**/.builds

# --------------------------------------------------------
# NUGET
**/*.nupkg
**/packages/
!**/packages/build/
**/*.nuget.props
**/*.nuget.targets

# --------------------------------------------------------
# ASP.NET Scaffolding
**/ScaffoldingReadMe.txt

# --------------------------------------------------------
# LOGS & TEMP FILES
**/*.log
**/*.tmp
**/*.tmp_proj

# --------------------------------------------------------
# NODE
**/node_modules/
**/npm-debug.log
**/yarn-error.log

# --------------------------------------------------------
# IDEs & EDITORS
**/.idea/
**/.project
**/.classpath
**/.c9/
**/*.launch
**/.settings/
**/*.sublime-workspace

# --------------------------------------------------------
# VISUAL STUDIO CODE
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Exclude VS Code local history
.vscode/.history/

# --------------------------------------------------------
# SYSTEM FILES
**/.DS_Store
**/Thumbs.db